body{
  background:#020617;
  font-family:Arial;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.box{
  background:#0f172a;
  padding:30px;
  border-radius:12px;
  width:280px;
  text-align:center;
}

.bar{
  width:100%;
  height:16px;
  background:#1e293b;
  border-radius:10px;
  overflow:hidden;
  margin-bottom:12px;
}

#progress{
  width:0%;
  height:100%;
  background:#22c55e;
  transition:width 0.2s;
}

button{
  padding:8px 16px;
  cursor:pointer;
}
